<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="../static/bootstrap/node_modules/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="../static/css/index.css">
    <title>Главная страница</title>
</head>
<body>
    <div class="header">
        <div class="logo">ContainerMagic</div>
        <!-- Иконка меню или другие элементы -->
    </div>

    <div class="balance-card">
        <div class="balance-label">Ваш баланс</div>
        <div class="balance-amount" id="userBalance">500 ₽</div>
        <a href="#" class="btn" id="topUpButton">Пополнить баланс</a>
    </div>

    <div class="section-title">Доступные контейнеры</div>
    
    <div class="containers-grid" id="containersList">
        {% if containers %}
            {% for container in containers %}
                <a href="/containers?container_id={{container.id}}" class="text-black">
                    <div class="container-item">
                        <div class="container-image">
                            <span style="font-size: 50px;">{{container.image}}</span>
                            <div class="container-ribbon">NEW</div>
                        </div>
                        <div class="container-info">
                            <div class="container-name">{{container.title}}</div>
                            <div class="container-price">{{container.price}}</div>
                        </div>
                    </div>
                </a>
            {% endfor %}
        {% endif %}
    </div>

    <div class="footer">
        © 2023 ContainerMagic · Все права защищены
    </div>


    <script src="../static/bootstrap/node_modules/bootstrap/dist/js/bootstrap.js"></script>
</body>
</html>